@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: linear-gradient(rgba(0, 102, 204, 0.8), rgba(0, 102, 204, 0.8)),
        url("../Images/img4.jpg");
    height: 100%;
    background-size: cover;
}

.circleBase {
    border-radius: 50%;
}
/* for the image */
.type3 {
    width: 300px;
    height: 300px;
    margin: 20% auto 0 auto;
    background: url("../Images/IMG_5999.jpg");
    background-size: 135%;
    background-position: 90%;
    background-repeat: no-repeat;
    vertical-align: middle;
    border: 3px solid #fff;
}

/* for the column view of the image and text */
.index-column {
    float: left;
    width: 35%;
    padding: 5px;
}

.index-column:nth-child(2){
    width: 63%;
}

.index-row::after {
    content: "";
    clear: both;
    display: table;
}

.welcome-text h1 {
    margin-top: 13%;
    color: #fff;
    text-transform: uppercase;
    font-size: 60px;
}

.welcome-text a {
    border: 1px solid #fff;
    padding: 10px 25px;
    text-decoration: none;
    font-size: 14px;
    margin-top: 20px;
    display: inline-block;
    color: #fff;
}

.welcome-text a:hover {
    background: #fff;
    color: #333;
}

.welcome-text p {
    color: #fff;
}

/* for the nav bar */

.topnav {
    margin-top: 2%;
    margin-right: 2%;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    margin-left: 1%;
    padding: 8px 10px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #fff;
    color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
    background-color: #ddd;
    color: black;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

/* ----------------------------------------------for the Intro bio ----------------------------------------------------------------------------- */
.bioDetails{
    margin: 5px;
    font-size: small;
}
/* ----------------------------------------------to make it responsive ----------------------------------------------------------------------------- */
@media screen and (max-width: 1000px) {
    .index-column {
        width: 100%;
    }
    .type3 {
        width: 200px;
        height: 200px;
        margin: 5% auto 0 auto;
        background: url("../Images/IMG_5999.jpg");
        background-size: 135%;
        background-position: 90%;
        background-repeat: no-repeat;
        vertical-align: middle;
        border: 3px solid #fff;
    }

    .welcome-text {
        text-align: center;
        margin-left: 2%;
        position: absolute; 
    }

    .welcome-text h1 {
        color: #fff;
        text-transform: uppercase;
        font-size: 25px;
    }

    .welcome-text a {
        border: 1px solid #fff;
        padding: 10px 25px;
        text-decoration: none;
        font-size: 14px;
        margin-top: 20px;
        margin-bottom: 10px;
        display: inline-block;
        color: #fff;
    }
}

/* ------------------------------------------- css for footer --------------------------------------------------------------------------- */

.home-footer-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    flex-shrink: 0;
    width: 100vw;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content {
    bottom: 0;
    left: 0;
    right: 0;
    height: auto;
    flex-shrink: 0;
    width: 100vw;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 1rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;
    border-radius: 50%;
}

.socials a i {
    font-size: 1.1rem;
    width: 20px;
    transition: color .4s ease;
}

.socials a:hover i {
    color: aqua;
}

.footer-menu {
    float: right;
}

.footer-menu ul {
    display: flex;
}

.footer-menu ul li {
    padding-right: 10px;
    display: block;
}

.footer-menu ul li a {
    color: #cfd2d6;
    text-decoration: none;
}

.footer-menu ul li a:hover {
    color: #27bcda;
}

@media screen and (max-width:600px) {
    .footer-menu ul {
        display: flex;
        margin-top: 10px;
        margin-bottom: 20px;
    }
}